* {
  font-family: "Open Sans";
}

body{
  background-color: #e9e8e4;
}

.menu,
.main-information,
.more-information,
.dialogues {
  margin: 50px auto;
  width: 70%;
}

.menu div,
.main-information section,
.more-information section,
.dialogues section {
  height: 100%;
  width: 100%;   
  background-color: white;
  margin: 2%;
  border-radius: 8px; 
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  height: 150px;
}

.main-information {
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
}

.more-information {  
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
}

.dialogues {
  display: flex;
  flex-wrap: nowrap;
  height: 800px;
}

@media only screen and (max-width: 1500px) {
  .menu,
  .main-information,
  .more-information,
  .dialogues {
    width: 90%;
  }
}

@media only screen and (max-width: 1200px) {
  .menu,
  .main-information,
  .more-information,
  .dialogues {
    width: 100%;
  }

}
