* {
  font-family: "Open Sans";
}

body{
  background-color: #e9e8e4;
}

.block {
  margin: 0 auto;
  width: 70%;
}

.header,
.main-information,
.more-information section,
.dialogues {     
  background-color: white;
  border-radius: 8px; 
  margin-top: 3%;
}

.more-information section {
  width: 365px;
  height: 600px;
}

.header {
  height: 150px;
}

.main-information {
  height: 200px;
}

.more-information {  
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;  
}

.dialogues {
  display: flex;
  flex-wrap: nowrap;
  height: 800px;
}

@media only screen and (max-width: 1600px) {
  .block {
    width: 90%;
  }
}

@media only screen and (max-width: 1300px) {
  .block {
    width: 100%;
  }
}
